.survey-list-no-surveys-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-list-container {
  padding: 0 16px;
}

.survey-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
