body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  min-height: 100vh;
  padding: 4px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
