@import "./variables.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

header {
  height: 32px;
  border: 1px solid $border-color;
  margin: 4px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 32px;
  border: 1px solid $border-color;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}