@import "./variables.scss";

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: max-content;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  height: 32px;
  border: 1px solid var(--border-color);
  margin: 4px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 32px;
  border: 1px solid var(--border-color);
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}