$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$text-color-dark: #213547;
$text-color-light: white;

$border-color: #d3d3d3;

$background-color-light: white;
$background-color-dark: #242424;

$link-text-color: #646cff;
$link-text-color--hover: #535bf2; 

$button-color-default: #0077ed;
$button-color-orange: #f8ab5e;

$corner-radius: var(--sjs-corner-radius, 4px);

@media (prefers-color-scheme: light) {
    :root {
        --text-color: $text-color-dark;
        --background-color: $background-color-light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: $text-color-ligth;
        --background-color: $background-color-dark;
    }
}