$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$text-color: #213547;
$border-color: #d3d3d3;
$background-color: #242424;

$link-text-color: #646cff;
$link-text-color--hover: #535bf2; 

$button-color-default: #0077ed;
$button-color-orange: #f8ab5e;