@import "../../variables.scss";

.survey-list-item {
  border: 1px solid $border-color;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .survey-list-item__name {
      font-weight: 600;
    }
  
    .survey-list-item__button {
      visibility: visible;
    }
  }
}

.survey-list-item__name {
  color: var(--text-color);
}

.survey-list-item__buttons-container {
  display: flex;
  gap: 16px;
}

.survey-list-item__button {
  visibility: hidden;
  color: $button-color-default;
  border: 1px solid;
  border-color: $button-color-default;
  padding: 4px 24px;
  border-radius: 4px;

  &:hover {
    background-color: $button-color-default;
    color: white;
    border-color: $button-color-default;
  }
}

.survey-list-item__button--orange {
  color: $button-color-orange;
  border-color: $button-color-orange;
  &:hover {
    background-color: $button-color-orange;
    border-color: $button-color-orange;
  }
}