.survey-list-item {
  border: 1px solid;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .survey-list-item__name {
      font-weight: 600;
    }
  
    .survey-list-item__button {
      visibility: visible;
    }
  }
}

.survey-list-item__name {
}

.survey-list-item__buttons-container {
  display: flex;
  gap: 16px;
}